APP_CS_OKCASA_G7/APP_CS_OKCASA_G7/Connected Services/WSBANCOESTADO/WSOperaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSOperaciones" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:27369/ServicioWeb_SOAP/WSOperaciones?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="Listar">
    <part name="parameters" element="tns:Listar" />
  </message>
  <message name="ListarResponse">
    <part name="parameters" element="tns:ListarResponse" />
  </message>
  <message name="ProcesarPago">
    <part name="parameters" element="tns:ProcesarPago" />
  </message>
  <message name="ProcesarPagoResponse">
    <part name="parameters" element="tns:ProcesarPagoResponse" />
  </message>
  <portType name="WSOperaciones">
    <operation name="hello">
      <input wsam:Action="http://ws/WSOperaciones/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws/WSOperaciones/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="Listar">
      <input wsam:Action="http://ws/WSOperaciones/ListarRequest" message="tns:Listar" />
      <output wsam:Action="http://ws/WSOperaciones/ListarResponse" message="tns:ListarResponse" />
    </operation>
    <operation name="ProcesarPago">
      <input wsam:Action="http://ws/WSOperaciones/ProcesarPagoRequest" message="tns:ProcesarPago" />
      <output wsam:Action="http://ws/WSOperaciones/ProcesarPagoResponse" message="tns:ProcesarPagoResponse" />
    </operation>
  </portType>
  <binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ProcesarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSOperaciones">
    <port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
      <soap:address location="http://localhost:27369/ServicioWeb_SOAP/WSOperaciones" />
    </port>
  </service>
</definitions>