APP_CS_OKCASA_G7/APP_CS_OKCASA_G7/Connected Services/WSBANCOESTADO/WSOperaciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Listar" type="tns:Listar" />
  <xs:element name="ListarResponse" type="tns:ListarResponse" />
  <xs:element name="ProcesarPago" type="tns:ProcesarPago" />
  <xs:element name="ProcesarPagoResponse" type="tns:ProcesarPagoResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:complexType name="ProcesarPago">
    <xs:sequence>
      <xs:element name="total" type="xs:int" />
      <xs:element name="pago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcesarPagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ListarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element name="credito" type="xs:int" />
      <xs:element name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>