WS_CS_OKCASA_G7/web/WEB-INF/wsdl/localhost_34113/WS_PAGO/WSPagos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSPagos">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:34113/WS_PAGO/WSPagos?xsd=1"/>
</xsd:schema>
</types>
<message name="InformacionWebpay">
<part name="parameters" element="tns:InformacionWebpay"/>
</message>
<message name="InformacionWebpayResponse">
<part name="parameters" element="tns:InformacionWebpayResponse"/>
</message>
<message name="ActualizarSaldo">
<part name="parameters" element="tns:ActualizarSaldo"/>
</message>
<message name="ActualizarSaldoResponse">
<part name="parameters" element="tns:ActualizarSaldoResponse"/>
</message>
<message name="ProcesarPago">
<part name="parameters" element="tns:ProcesarPago"/>
</message>
<message name="ProcesarPagoResponse">
<part name="parameters" element="tns:ProcesarPagoResponse"/>
</message>
<message name="ListaBancos">
<part name="parameters" element="tns:ListaBancos"/>
</message>
<message name="ListaBancosResponse">
<part name="parameters" element="tns:ListaBancosResponse"/>
</message>
<portType name="WSPagos">
<operation name="InformacionWebpay">
<input wsam:Action="http://ws/WSPagos/InformacionWebpayRequest" message="tns:InformacionWebpay"/>
<output wsam:Action="http://ws/WSPagos/InformacionWebpayResponse" message="tns:InformacionWebpayResponse"/>
</operation>
<operation name="ActualizarSaldo">
<input wsam:Action="http://ws/WSPagos/ActualizarSaldoRequest" message="tns:ActualizarSaldo"/>
<output wsam:Action="http://ws/WSPagos/ActualizarSaldoResponse" message="tns:ActualizarSaldoResponse"/>
</operation>
<operation name="ProcesarPago">
<input wsam:Action="http://ws/WSPagos/ProcesarPagoRequest" message="tns:ProcesarPago"/>
<output wsam:Action="http://ws/WSPagos/ProcesarPagoResponse" message="tns:ProcesarPagoResponse"/>
</operation>
<operation name="ListaBancos">
<input wsam:Action="http://ws/WSPagos/ListaBancosRequest" message="tns:ListaBancos"/>
<output wsam:Action="http://ws/WSPagos/ListaBancosResponse" message="tns:ListaBancosResponse"/>
</operation>
</portType>
<binding name="WSPagosPortBinding" type="tns:WSPagos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InformacionWebpay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ActualizarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProcesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaBancos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSPagos">
<port name="WSPagosPort" binding="tns:WSPagosPortBinding">
<soap:address location="http://localhost:34113/WS_PAGO/WSPagos"/>
</port>
</service>
</definitions>