WS_CS_OKCASA_G7/web/WEB-INF/wsdl/localhost_32924/WS_SEGUIMIENTO/wsSeguimiento.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Listado" type="tns:Listado"/>

<xs:element name="ListadoResponse" type="tns:ListadoResponse"/>

<xs:element name="SeguimientosFinalizados" type="tns:SeguimientosFinalizados"/>

<xs:element name="SeguimientosFinalizadosResponse" type="tns:SeguimientosFinalizadosResponse"/>

<xs:complexType name="Listado">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:seguimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seguimiento">
<xs:sequence>
<xs:element name="estado_seguimiento" type="xs:string" minOccurs="0"/>
<xs:element name="id_historial" type="xs:int"/>
<xs:element name="id_seguimiento" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeguimientosFinalizados">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeguimientosFinalizadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:seguimiento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>